.container {
    position: relative; /* Aktualisieren Sie die Position auf "relative" */
    width: 100%;
    height: 100vh; /* Aktualisieren Sie die Höhe auf 100vh */
    padding: 0 2rem;
    box-sizing: border-box;
  }
  
  .content {
    position: relative; /* Aktualisieren Sie die Position auf "relative" */
    z-index: 1; /* Legen Sie den z-Index auf 1 fest, damit der Inhalt über den Wassertropfen angezeigt wird */
  }