.waterdrops-container {
  position: absolute; /* Aktualisieren Sie die Position auf "absolute" */
  top: 0;
  left: 0;
  width: 100vw; /* Aktualisieren Sie die Breite auf 100vw */
  height: 100vh; /* Aktualisieren Sie die Höhe auf 100vh */
  pointer-events: none; /* Deaktivieren Sie die Pointer-Events, damit die Wassertropfen nicht die Interaktion mit anderen Elementen beeinträchtigen */
}
  
.waterdrop {
  position: absolute;
  width: 30px; /* Aktualisieren Sie die Größe, um zur PNG-Datei zu passen */
  height: 30px; /* Aktualisieren Sie die Größe, um zur PNG-Datei zu passen */
  background-image: url('../public/assets/waterdrop.png'); /* Legen Sie das Hintergrundbild fest */
  background-size: contain; /* Passen Sie das Hintergrundbild an die Größe des Elements an */
  background-repeat: no-repeat; /* Wiederholen Sie das Hintergrundbild nicht */
  animation: fall 2s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes moveLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px); /* Aktualisieren Sie den Wert, um die Bewegung nach links festzulegen */
  }
}

@keyframes moveRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Aktualisieren Sie den Wert, um die Bewegung nach rechts festzulegen */
  }
}


.waterdropMoveRight {
  animation: fall 2s linear infinite, moveRight 2s linear infinite; /* Legen Sie die zusätzliche Animation für die Bewegung nach rechts fest */
}
  
  